<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key># Patch - Interface de rede I225 - 11.4 e mais novos - https://luchina.com.br</key>
	<string></string>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x3)/Pci(0x0,0x0)</key>
			<dict>
				<key>device-id	</key>
				<data>8xWGgA==</data>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel(R) Ethernet Controller i225</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>device-id	</key>
				<data>8xWGgA==</data>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel(R) Ethernet Controller i225</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
