<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key># Patch - Interface de rede I225 - para Catalina e anteriores - https://luchina.com.br</key>
	<string></string>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x3)/Pci(0x0,0x0)</key>
			<dict>
				<key>device-id	</key>
				<data>8hUAAA==</data>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel(R) Ethernet Controller i225</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>device-id	</key>
				<data>8hUAAA==</data>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel(R) Ethernet Controller i225</string>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__Z18e1000_set_mac_typeP8e1000_hw
</string>
				<key>Comment</key>
				<string>Patch - Interface de rede I225 - 11.3.1 e mais antigos</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>8hUAAA==</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleIntelI210Ethernet
</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>MaxKernel</key>
				<string>19.9.9</string>
				<key>MinKernel</key>
				<string></string>
				<key>Replace</key>
				<data>8xUAAA==</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
